<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Muscle Mania Gym</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="/MuscleManiaGym/public/stylesheets/classes.css"
    />
  </head>
  <body class="d-flex flex-column vh-100">
    <div class="bannerBackground">
      <div>
        <img
          src="/MuscleManiaGym/public/imgs/banner/logo.png"
          alt=""
          class="bannerLogo"
        />
      </div>
    </div>
    <nav
      class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark rounded-bottom"
    >
      <div class="container-fluid">
        <a class="navbar-brand navBrandText" href="/MuscleManiaGym/index.html"
          >Muscle Mania Gym</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/MuscleManiaGym/index.html">Home</a>
            <a class="nav-link" href="/MuscleManiaGym/views/membership.html"
              >Membership</a
            >
            <a
              class="nav-link"
              href="/MuscleManiaGym/MuscleManiaGym/views/trainers.html"
              >Trainers</a
            >
            <a class="nav-link" href="/MuscleManiaGym/views/contact.html"
              >Contact</a
            >
          </div>
        </div>
      </div>
    </nav>
    <main class="container mt-3 shadow-lg rounded px-4 pt-4">
      <div class="row row-cols-lg-1">
        <div class="col">
          <table
            class="table table-striped table-responsive-lg table-bordered"
            id="classTable"
          >
            <thead>
              <tr class="table-success">
                <th scope="col">Classes</th>
                <th scope="col">Time/Day</th>
                <th scope="col">Price</th>
                <th scope="col">Trainer</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><a href="#bootCamp">Boot Camp</a></th>
                <td>7-8am/Everyday</td>
                <td>$15 <small class="text-muted">/ mo</small></td>
                <td>Trevor</td>
              </tr>
              <tr>
                <th scope="row"><a href="#spin">Spin</a></th>
                <td>1-2pm/T,Th</td>
                <td>$9 <small class="text-muted">/ mo</small></td>
                <td>Warren</td>
              </tr>
              <tr>
                <th scope="row"><a href="#yoga">Yoga</a></th>
                <td>6-7am/Everyday</td>
                <td>$15 <small class="text-muted">/ mo</small></td>
                <td>Sarah</td>
              </tr>
              <tr>
                <th scope="row"><a href="#crossfit">Crossfit</a></th>
                <td>6-7pm/M,W,F</td>
                <td>$12 <small class="text-muted">/ mo</small></td>
                <td>Yonas</td>
              </tr>
              <tr>
                <th scope="row"><a href="#seniorFitness">Senior Fitness</a></th>
                <td>10-11am/W</td>
                <td>$3 <small class="text-muted">/ mo</small></td>
                <td>Rita</td>
              </tr>
              <tr>
                <th scope="row">
                  <a href="#strengthTraining">Strength Training</a>
                </th>
                <td>6-7pm/M,W,Sat</td>
                <td>$17 <small class="text-muted">/ mo</small></td>
                <td>Tom</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-lg-3 g-4 mb-3 mt-1">
        <div class="col">
          <div class="card mb-3" id="spin">
            <h4 class="card-title text-center cardTitleText mt-3 card-header">
              Spin Class
            </h4>
            <div class="card-body">
              <h5 class="card-title">Need To Know</h5>
              <p class="card-text">
                Spin class is a high-energy indoor cycling workout led by an
                instructor in a specialized studio. Participants follow the
                instructor's cues, adjusting resistance levels on stationary
                bikes to simulate various terrains. It improves cardiovascular
                endurance, strengthens leg muscles, and fosters a motivating
                group atmosphere.
              </p>
            </div>
            <div class="card-footer">
              <a href="#top" class="btn btn-primary">Return Top</a>
              <a
                href="https://en.wikipedia.org/wiki/Spinning_(cycling)"
                class="btn btn-success"
                >More Info</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3" id="bootCamp">
            <h4 class="card-title text-center cardTitleText mt-3 card-header">
              Boot Camp
            </h4>
            <div class="card-body">
              <h5 class="card-title">Need To Know</h5>
              <p class="card-text">
                A fitness boot camp is a type of group physical training program
                that may be conducted by gyms, personal trainers or other
                organizations. These programs are designed to build strength and
                fitness through a variety of types of exercise.
              </p>
            </div>
            <div class="card-footer">
              <a href="#top" class="btn btn-primary">Return Top</a>
              <a
                href="https://en.wikipedia.org/wiki/Fitness_boot_camp"
                class="btn btn-success"
                >More Info</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3" id="strengthTraining">
            <h4 class="card-title text-center cardTitleText mt-3 card-header">
              Strength Training
            </h4>
            <div class="card-body">
              <h5 class="card-title">Need To Know</h5>
              <p class="card-text">
                Strength training or resistance training involves the
                performance of physical exercises that are designed to improve
                strength and endurance. It is often associated with the lifting
                of weights. It can also incorporate a variety of training
                techniques such as bodyweight exercises, isometrics, and
                plyometrics.
              </p>
            </div>
            <div class="card-footer">
              <a href="#top" class="btn btn-primary">Return Top</a>
              <a
                href="https://en.wikipedia.org/wiki/Strength_training"
                class="btn btn-success"
                >More Info</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3" id="crossfit">
            <h4 class="card-title text-center cardTitleText mt-3 card-header">
              Crossfit
            </h4>
            <div class="card-body">
              <h5 class="card-title">Need To Know</h5>
              <p class="card-text">
                CrossFit is a high-intensity fitness regimen that combines
                elements of weightlifting, cardio, and gymnastics. Workouts,
                known as 'WODs' (Workout of the Day), are constantly varied and
                designed to challenge participants both physically and mentally.
                CrossFit's focus on functional movements and intensity aims to
                improve overall fitness, including strength, endurance,
                flexibility, and agility. The supportive community aspect and
                competitive nature of CrossFit have made it a popular choice for
                individuals seeking a challenging and motivating fitness
                experience.
              </p>
            </div>
            <div class="card-footer">
              <a href="#top" class="btn btn-primary">Return Top</a>
              <a
                href="https://en.wikipedia.org/wiki/CrossFit"
                class="btn btn-success"
                >More Info</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3" id="yoga">
            <h4 class="card-title text-center cardTitleText mt-3 card-header">
              Yoga
            </h4>
            <div class="card-body">
              <h5 class="card-title">Need To Know</h5>
              <p class="card-text">
                Yoga is a mindful and ancient practice that combines physical
                postures, breath control, and meditation. Through a series of
                poses and movements, practitioners aim to improve flexibility,
                strength, and balance while promoting relaxation and mental
                clarity. It offers various styles, from gentle and restorative
                to vigorous and challenging, catering to diverse needs and
                fitness levels. Regular yoga practice enhances overall
                well-being, reduces stress, and fosters a sense of inner peace
                and harmony
              </p>
            </div>
            <div class="card-footer">
              <a href="#top" class="btn btn-primary">Return Top</a>
              <a
                href="https://en.wikipedia.org/wiki/Yoga_in_the_United_States"
                class="btn btn-success"
                >More Info</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3" id="seniorFitness">
            <h4 class="card-title text-center cardTitleText mt-3 card-header">
              Senior Fitness
            </h4>
            <div class="card-body">
              <h5 class="card-title">Need To Know</h5>
              <p class="card-text">
                A senior fitness class is a specialized group exercise program
                tailored to the needs of older adults. Led by trained
                instructors, these classes focus on gentle movements, low-impact
                exercises, and flexibility work to improve strength, balance,
                and overall mobility. The exercises are designed to accommodate
                various fitness levels and address age-related concerns,
                promoting better joint health, independence, and a higher
                quality of life. Senior fitness classes offer a supportive and
                social environment, encouraging seniors to stay active and
                engaged in their well-being.
              </p>
            </div>
            <div class="card-footer">
              <a href="#top" class="btn btn-primary">Return Top</a>
              <a
                href="https://www.cdc.gov/physicalactivity/basics/adding-pa/activities-olderadults.htm"
                class="btn btn-success"
                >More Info</a
              >
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer bg-dark py-3 mt-3 rounded-top">
      <section class="container text-center">
        <span class="text-light">&copy 2023</span>
      </section>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
