.bannerBackground {
  background-image: url(https://images.unsplash.com/photo-1637666062717-1c6bcfa4a4df?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80),
    url(https://images.unsplash.com/photo-1579364046732-c21c2177730d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  height: 30%;
  background-position-y: -255px;
}

body {
  background-color: #353535;
}

.navBrandText {
  color: whitesmoke;
  font-family: "Bangers", cursive;
  font-size: 30px;
}

.nav-link:hover {
  text-decoration: underline;
}

.socialIcons {
  font-size: 35px;
  margin-left: 35px;
}

.bi-instagram {
  color: rgb(206, 10, 206);
}

.bi-instagram:hover {
  color: rgb(245, 13, 245);
  font-size: 45px;
}

.bi-youtube {
  color: rgb(194, 14, 14);
}

.bi-youtube:hover {
  color: red;
  font-size: 45px;
}

.bi-twitter {
  color: #0883b4;
}

.bi-twitter:hover {
  color: #00acee;
  font-size: 45px;
}

.bi-telephone {
  color: whitesmoke;
}

.bi-telephone:hover {
  color: whitesmoke;
  font-size: 45px;
}

.cardTitleText {
  font-family: "Bangers", cursive;
}

#dPass{
  background-image: url(https://images.unsplash.com/photo-1623874228601-f4193c7b1818?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80);
 }
 

#sMembership{
  background-image: url(https://images.unsplash.com/photo-1620188467120-5042ed1eb5da?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80);
 }
 
#pMembership{
 background-image: url(https://images.unsplash.com/photo-1576678927484-cc907957088c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80);
}

